{% extends 'base.html' %}
{% block title %}register{% endblock %}

{% block content %}
<div class="w3-display-middle">
  <div class="w3-animate-zoom">
    <h3 class="w3-text-white">Register</h3>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <form action="/register" method="post">
            {{ form.hidden_tag() }}

            {% for field in form
              if field.widget.input_type != 'hidden' %}
              <div class="form-row">
                <div class="col">
                  {{ field.label }}
                </div>
                <div class="col">
                    {{ field }}
                </div>

                {% for error in field.errors %}
                <div class="">
                  {{ error }}
                </div>
                {% endfor %}
              </div>
              {% endfor %}
              <button class="btn btn-primary mb-2" type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
    <div class="w3-right">
            <a href="/logon"><h5 class="w3-btn w3-ripple w3-text-white">or login</h5></a>
        </div>
  </div>
</div>

{% endblock %}
