{% extends 'base.html' %}
{% block title %}Tweets{% endblock %}
{% block content %}
<h3>Dumb Tweets</h3>

<form method="post">
  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}
    <div>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
      <div class="w3-text-red w3-tiny">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <button class="w3-blue" type="submit">Tweet</button>
</form>
<hr>

{% for tweet in all_tweets %}
<div class="w3-card-4 w3-border w3-round w3-text-blue">
  <div class="w3-padding">{{tweet.text}}</div>
  <div class="w3-right w3-tiny w3-text-black w3-padding">- {{tweet.user.username}}</div>
  {% if session['user_id'] == tweet.user_id %}
  <form class="w3-tiny w3-padding w3-text-red" action="/tweets/{{tweet.id}}" method="POST">
    <button>delete</button>
  </form>
  {% endif %}

</div><br>
{% endfor %}
{% endblock %}
